.carousel {
  margin: auto;
  width: 60%;
}

.carousel-control.right, .carousel-control.left{
	background-image: none;
	width:0px;
}

.glyphicon {
	color: #2a2a2a;
	text-shadow: none;	
}

.carousel-indicators {
    margin-bottom: -15px;
}

.carousel-indicators li {
    background-color: rgba(255, 255, 255, .5);
    border-radius: 0px; 
    border: none;
}

.carousel-indicators .active {
    background-color: rgba(255, 255, 255, .8);
    border: none;
}