#header-image {
	width:100%;
}

#header-image > img {
	width: 100%;
}

#our-members-section {
	background-image: url('../images/hy_bg.png');
	margin-left: -104.5px;
    margin-right: -104.5px;	
}

#category-grid .category > .category-portrait {
	margin-bottom:15px;
}

#category-grid .category > .category-portrait > .category-label {
	background-color: #004ea1;
	color:#ffffff;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	padding:15px 10px 10px 10px;
	text-align: center;
}

#category-grid .category > .category-portrait > .category-label > .secondary-label {
	font-weight: 700;
	font-size: .8em;
}

#category-grid .category > .category-portrait > .category-img {
	background-color: #408ee1;
	height:160px;
	overflow: hidden;
}

#category-grid .category > .category-portrait > .category-img >img{
	width:100%;
}

#category-grid .category > .category-footer {
	text-align: center;
}

#category-grid .category > .category-footer > .btn, #promos-section .btn {
	background-color: #a9907c;
	color: #ffffff;
}

#member-grid {
	width: 100%;
	padding-left: 4%;
	padding-right: 4%;
}

#member-grid .member >.member-portrait > .member-img > img{
	width: 100%;
	cursor:pointer;
    box-shadow: 2px 2px 5px #888888;
}

#our-members-section > .member-section-divider {
    width: 84.5%;
    margin: auto;
}

.col-md-4 {
	padding-left:4px;
	padding-right:4px;
} 

.col-md-3 {
	padding-left:7px;
  	padding-right:7px;
}

#promos-section .promo {
   width:60%;
   margin: auto;
}

#promos-section .promo > .promo-title {
  font-size:12.5pt;
}

#promos-section .promo-footer {
	margin:auto;
  text-align:center;
}

#promos-section > .promo-footer > .promo-message {
  margin-top:10px;
  margin-bottom:5px;
}

#promos-section .promo-message span {
	font-size: 13pt;
}

#footer {
	position:absolute;
  background-color: #004ea1;
  width:100%;
  padding-top:35px;
  padding-bottom:20px;
  min-height:200px;
}

#footer img {
  width: 100%;
  text-align:center;
  cursor:pointer;
}

#footer .payment-methods {
	margin-right: -20px;
}

#footer .payment-methods img {
	width: 50% !important  ;
}

#footer > .clearfix {
	margin: auto;
	width: 95%;
}

#footer .rating {
	margin-top: 35px;
	margin-left: 80px;
}

#footer > .col-md-3 {
	padding-left:10px  
}